@font-face {
	font-family: 'Source Sans Pro Light';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-Light.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Light Italic';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-LightIt.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-LightIt.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Italic';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-It.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-It.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Semibold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-Semibold.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Semibold Italic';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-SemiboldIt.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-SemiboldIt.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Bold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Bold Italic';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-BoldIt.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-BoldIt.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Black';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-Black.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-Black.woff2') format('woff2')
}

@font-face {
	font-family: 'Source Sans Pro Black Italic';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro/SourceSansPro-BlackIt.woff') format('woff'), 
		 url('../fonts/SourceSansPro/SourceSansPro-BlackIt.woff2') format('woff2')
}